<div class="container">
    <div class="row ">

        <div class="col-md-6">
            <div class="media blog-media">
                <a [routerLink]="['/kupac']"><img class="d-flex" src="../../assets/newCustomerPicture.jpeg" alt="Slika novog kupca"></a>
                <div class="media-body">
                    <a [routerLink]="['/kupac']"><h5 class="mt-0">Unos novog kupca</h5></a> Ukoliko želite da unesete novog kupca u bazu podataka, ova kartica je Vaš izbor.
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="media blog-media">
                <a [routerLink]="['/pretraga']"><img class="d-flex" src="../../assets/customersSearchPicture.jpeg" alt="Generic placeholder image"></a>
                <div class="media-body">
                    <a [routerLink]="['/pretraga']"><h5 class="mt-0">Pretraga kupaca</h5></a> Ukoliko želite da pronađete, izmenite ili obrišete određenog kupca iz baze podataka.
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="media blog-media">
                <a [routerLink]="['/faktura-insert']"><img class="d-flex" src="../../assets/invoicePicture2.jpeg" alt="Generic placeholder image"></a>
                <div class="media-body">
                    <a [routerLink]="['/faktura-insert']"><h5 class="mt-0">Unos nove fakture</h5></a> Ukoliko želite da unesete novu fakturu u bazu podataka, ova kartica je Vaš izbor.
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="media blog-media">
                <a [routerLink]="['/faktura-pretraga']"><img class="d-flex" src="../../assets/invoicePicture3.jpeg" alt="Generic placeholder image"></a>
                <div class="media-body">
                    <a [routerLink]="['/faktura-pretraga']"><h5 class="mt-0">Pretraga faktura </h5></a>  Ukoliko želite da pronađete, izmenite ili obrišete određenu fakturu iz baze podataka.
                </div>
            </div>
        </div>
    </div>
</div>