<form [formGroup]="customerUpdateFormGroup" (ngSubmit)="onSubmit()">

    <div class="form-area">
        <h3>Unos novog kupca</h3>
        <br>
        
        <div class="row">
            <div class="col-md-2"><label>pib</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="pib" type="text" readonly="true"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Naziv kupca</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="naziv_kupca" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Email kupca</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="email_kupca" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Telefon kupca</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="telefon_kupca" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Potpis kupca</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="potpis" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Grad</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="grad" (change)="getStreets()">
                        <option selected hidden [value]="customer.adresa.ulica.grad" > {{customer.adresa.ulica.grad.postanski_broj}} | {{customer.adresa.ulica.grad.naziv_grada}}</option>
                        <option *ngFor="let city of cities" [ngValue]="city">
                            {{city.postanski_broj}} | {{city.naziv_grada}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Ulica</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="ulica" (change)="getAdress()">
                        <option selected hidden [value]="customer.adresa.ulica" > {{customer.adresa.ulica.id.sifra_ulice}} | {{customer.adresa.ulica.naziv_ulice}}</option>
                        <option *ngFor="let street of streets" [ngValue]="street">
                            {{street.id.sifra_ulice}} | {{street.naziv_ulice}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Adresa</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="adresa">
                        <option selected hidden [value]="customer.adresa" > {{customer.adresa.id.adresa_ID}}</option>
                        <option *ngFor="let adr of adress" [ngValue]="adr">
                            {{adr.id.adresa_ID}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Zaposleni</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="zaposleni">
                        <option selected hidden [value]="customer.zaposleni" > {{customer.zaposleni.jmbg}} | {{customer.zaposleni.ime_prezime}}</option>
                        <option *ngFor="let employee of employees" [ngValue]="employee">
                            {{employee.jmbg}} | {{employee.ime_prezime}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-info">Izmeni kupca</button>
        </div>
    </div>

</form>

<br>

<div>
    <button [routerLink]="['/']"class="btn btn-info">Vrati se na pocetnu stranu</button>
</div>
