<form [formGroup]="customerUpdateFormGroup" (ngSubmit)="onSubmit()" id="section1">

        <div class="container light-style flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4"> Izmena kupca</h4>

            <div class="card overflow-hidden">
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-12">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="account-general">

                                <div class="card-body">
                                    <!-- Polje za pib -->
                                    <div class="form-group">
                                        <label class="form-label">PIB</label>
                                        <input formControlName="pib" type="text" class="form-control mb-1"
                                            readonly="true">
                                    </div>

                                    <!-- Polje za naziv kupca -->
                                    <div class="form-group">
                                        <label class="form-label">Naziv kupca</label>
                                        <input formControlName="naziv_kupca" type="text" class="form-control mb-1" />
                                        <!-- validacija -->
                                        <div *ngIf="naziv_kupca?.invalid && (naziv_kupca?.dirty  || naziv_kupca?.touched)"
                                            class="alert alert-danger mt1">
                                            <div
                                                *ngIf="naziv_kupca?.errors?.required || naziv_kupca?.errors?.whiteSpace">
                                                Polje naziv kupca je obavezno.
                                            </div>
                                            <div *ngIf="naziv_kupca?.errors?.minlength">
                                                Polje naziv kupca mora imati minimalno 6 karaktera.
                                            </div>
                                            <div *ngIf="naziv_kupca?.errors?.maxlength">
                                                Polje naziv kupca ne sme imati vise od 30 karaktera.
                                            </div>
                                            <div *ngIf="naziv_kupca?.errors?.pattern">
                                                Polje naziv kupca sme da sadrzi samo slova.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Polje email kupca -->
                                    <div class="form-group">
                                        <label class="form-label">Email kupca</label>
                                        <input formControlName="email_kupca" type="text" class="form-control mb-1">
                                        <!-- validacija -->
                                        <div *ngIf="email_kupca?.invalid && (email_kupca?.dirty || email_kupca?.touched)"
                                            class="alert alert-danger mt1">
                                            <div
                                                *ngIf="email_kupca?.errors?.required || email_kupca?.errors?.whiteSpace">
                                                Polje email kupca je obavezno.
                                            </div>
                                            <div *ngIf="email_kupca?.errors?.pattern">
                                                Unesite Vas pravi email.
                                            </div>
                                            <div *ngIf="email_kupca?.errors?.maxlength">
                                                Polje email kupca ne sme imati vise od 20 karaktera.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Polje telefon kupca -->
                                    <div class="form-group">
                                        <label class="form-label">Telefon kupca</label>
                                        <input formControlName="telefon_kupca" type="text" class="form-control mb-1">
                                        <!-- validacija -->
                                        <div *ngIf="telefon_kupca?.invalid && (telefon_kupca?.dirty  || telefon_kupca?.touched)"
                                            class="alert alert-danger mt1">
                                            <div
                                                *ngIf="telefon_kupca?.errors?.required || telefon_kupca?.errors?.whiteSpace">
                                                Polje telefon kupca je obavezno.
                                            </div>
                                            <div *ngIf="telefon_kupca?.errors?.minlength">
                                                Polje telefon kupca mora imati minimalno 9 karaktera.
                                            </div>
                                            <div *ngIf="telefon_kupca?.errors?.maxlength">
                                                Polje telefon kupca ne sme imati vise od 20 karaktera.
                                            </div>
                                            <div *ngIf="telefon_kupca?.errors?.pattern">
                                                Polje telefon kupca sme da sadrzi samo brojeve.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Potpis kupca -->
                                    <div class="form-group">
                                        <label class="form-label">Potpis</label>
                                        <input formControlName="potpis" type="text" class="form-control mb-1">
                                        <!-- validacija -->
                                        <div *ngIf="potpis?.invalid && (potpis?.dirty  || potpis?.touched)"
                                            class="alert alert-danger mt1">
                                            <div *ngIf="potpis?.errors?.required || potpis?.errors?.whiteSpace">
                                                Polje potpis kupca je obavezno!
                                            </div>
                                            <div *ngIf="potpis?.errors?.minlength">
                                                Polje potpis kupca mora imati minimalno 2 karaktera.
                                            </div>
                                            <div *ngIf="potpis?.errors?.maxlength">
                                                Polje potpis kupca ne sme imati vise od 20 karaktera.
                                            </div>
                                            <div *ngIf="potpis?.errors?.pattern">
                                                Polje potpis sme da sadrzi samo slova.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Grad -->
                                    <div class="form-group">
                                        <label class="form-label">Grad</label>
                                        <select formControlName="grad" class="form-control mb-1"
                                            (change)="getStreets()">
                                            <!-- [ngValue] cuvamo referencu na city objekat -->
                                            <option selected hidden [value]="customer.adresa.ulica.grad" > {{customer.adresa.ulica.grad.postanski_broj}} | {{customer.adresa.ulica.grad.naziv_grada}}</option>
                                            <option *ngFor="let city of cities" [ngValue]="city">
                                                {{city.postanski_broj}} | {{city.naziv_grada}}
                                            </option>
                                        </select>
                                        <!-- validacija -->
                                        <div *ngIf="grad?.invalid && (grad?.dirty || grad?.touched)"
                                            class="alert alert-danger mt1">
                                            <div *ngIf="grad?.errors?.required">
                                                Polje grad mora biti popunjeno.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Ulica -->
                                    <div class="form-group">
                                        <label class="form-label">Ulica</label>
                                        <select formControlName="ulica" class="form-control mb-1"
                                            (change)="getAdress()">
                                            <!-- [ngValue] cuvamo referencu na street objekat -->
                                            <option selected hidden [value]="customer.adresa.ulica" > {{customer.adresa.ulica.id.sifra_ulice}} | {{customer.adresa.ulica.naziv_ulice}}</option>
                                            <option *ngFor="let street of streets" [ngValue]="street">
                                                {{street.id.sifra_ulice}} | {{street.naziv_ulice}}
                                            </option>
                                        </select>
                                        <!-- validacija -->
                                        <div *ngIf="ulica?.invalid && (ulica?.dirty || ulica?.touched)"
                                            class="alert alert-danger mt1">
                                            <div *ngIf="ulica?.errors?.required">
                                                Polje ulica mora biti popunjeno. Popunjava se nakon popunjavanja polja
                                                grad.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Adresa -->
                                    <div class="form-group">
                                        <label class="form-label">Adresa</label>
                                        <select formControlName="adresa" class="form-control">
                                            <option selected hidden [value]="customer.adresa" > {{customer.adresa.id.adresa_ID}}</option>
                                            <option *ngFor="let adr of adress" [ngValue]="adr">
                                                {{adr.id.adresa_ID}}
                                            </option>
                                        </select>
                                        <!-- validacija -->
                                        <div *ngIf="adresa?.invalid && (adresa?.dirty || adresa?.touched)"
                                            class="alert alert-danger mt1">
                                            <div *ngIf="adresa?.errors?.required">
                                                Polje adresa mora biti popunjeno. Popunjava se nakon popunjavanja polja
                                                ulica.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Zaposleni -->
                                    <div class="form-group">
                                        <label class="form-label">Zaposleni</label>
                                        <select formControlName="zaposleni" class="form-control">
                                            <option selected hidden [value]="customer.zaposleni" > {{customer.zaposleni.jmbg}} | {{customer.zaposleni.ime_prezime}}</option>
                                            <option *ngFor="let employee of employees" [ngValue]="employee">
                                                {{employee.jmbg}} | {{employee.ime_prezime}}
                                            </option>
                                        </select>
                                        <!-- validacija -->
                                        <div *ngIf="zaposleni?.invalid && (zaposleni?.dirty || zaposleni?.touched)"
                                            class="alert alert-danger mt1">
                                            <div *ngIf="zaposleni?.errors?.required">
                                                Polje zaposleni mora biti popunjeno.
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="text-right mt-3">
                        &nbsp;<button type="submit" class="btn btn-primary">Izmeni kupca</button>&nbsp;&nbsp;
                        <button [routerLink]="['/']" class="btn btn-danger">Pocetna strana</button>
                        <br>
                        <br>
                    </div>

                </div>
            </div>
            <br>
        </div>
</form>
