<form [formGroup]="invoiceFormGroupUpdate" (ngSubmit)="onSubmit()">

    <!-- Kreiranje forme za izmenu fakture -->
    <div formGroupName="invoice" class="form-area">
        <h3>Izmena postojece fakture</h3>
        <br>
        
        <div class="row">
            <div class="col-md-2"><label>Sifra fakture</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="sifraFakture" type="text" readonly="true"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Datum prometa</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="datumPrometa" type="date">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Valuta</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="valuta">
                        <option *ngFor="let c of currency" [ngValue]="c">
                            {{c}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Nacin placanja</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="nacinPlacanja">
                        <option selected hidden [value]="invoiceForUpdate.nacinPlacanja" > {{invoiceForUpdate.nacinPlacanja.npID}} | {{invoiceForUpdate.nacinPlacanja.nacinPlacanja}}</option>
                        <option *ngFor="let np of paymentMethods" [ngValue]="np">
                            {{np.npID}} | {{np.nacinPlacanja}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Nacin isporuke</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="nacinIsporuke">
                        <option selected hidden [value]="invoiceForUpdate.nacinIsporuke" > {{invoiceForUpdate.nacinIsporuke.niID}} | {{invoiceForUpdate.nacinIsporuke.nacinIsporuke}}</option>
                        <option *ngFor="let ni of deliveryMethods" [ngValue]="ni">
                            {{ni.niID}} | {{ni.nacinIsporuke}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Grad</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="grad" (change)="getStreets()">
                        <option selected hidden [value]="invoiceForUpdate.adresa.ulica.grad" > {{invoiceForUpdate.adresa.ulica.grad.postanski_broj}} | {{invoiceForUpdate.adresa.ulica.grad.naziv_grada}}</option>
                        <!-- [ngValue] cuvamo referencu na city objekat -->
                        <option *ngFor="let city of cities" [ngValue]="city">
                            {{city.postanski_broj}} | {{city.naziv_grada}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Ulica</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="ulica" (change)="getAdress()">
                        <option selected hidden [value]="invoiceForUpdate.adresa.ulica" > {{invoiceForUpdate.adresa.ulica.id.sifra_ulice}} | {{invoiceForUpdate.adresa.ulica.naziv_ulice}}</option>
                        <!-- [ngValue] cuvamo referencu na street objekat -->
                        <option *ngFor="let street of streets" [ngValue]="street">
                            {{street.id.sifra_ulice}} | {{street.naziv_ulice}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Adresa</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="adresa">
                        <option selected hidden [value]="invoiceForUpdate.adresa" > {{invoiceForUpdate.adresa.id.adresa_ID}}</option>
                        <option *ngFor="let adr of adress" [ngValue]="adr">
                            {{adr.id.adresa_ID}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Zaposleni</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="zaposleni">
                        <option selected hidden [value]="invoiceForUpdate.zaposleni" > {{invoiceForUpdate.zaposleni.jmbg}} | {{invoiceForUpdate.zaposleni.ime_prezime}}</option>
                        <option *ngFor="let employee of employees" [ngValue]="employee">
                            {{employee.jmbg}} | {{employee.ime_prezime}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <!-- kraj forme za izmenu fakture -->
    <br>
    <!-- forma za izmenu stavke fakture -->

    <div formGroupName="inoviceItem" class="form-area">
        <h3>Izmena i unos stavki fakture</h3>
        <br>
        
        <div class="row">
            <div class="col-md-2"><label>Broj stavke</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="sifraStavke" type="text"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Opis </label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="opis" type="text"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>EAN </label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="ean" type="text"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Proizvod</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="proizvod">
                        <option *ngFor="let product of products" [ngValue]="product">
                            {{product.sifraProizvoda}} | {{product.nazivProizvoda}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Kolicina </label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="kolicina" type="text"/>
                </div>
            </div>
        </div>

        <br>

        <div>
            <button type="button" class="btn btn-primary" (click)="onSubmitAddNewItem()">Unesi novu stavku</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" (click)="onSubmitUpdateItem()">Izmeni stavku</button>
       </div>

       <!--  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input formControlName ="sifraZaIzmenuStavke" type="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-info">Izmeni postojecu stavku</button> -->
        <!-- <div>
            <button type="button" class="btn btn-primary" (click)="onSubmitUpdateItem()">Izmeni stavku</button>
        </div> -->

    </div> 

    <!-- kraj forme za izmenu/unos stavke fakture -->   

    <br>

    <h5>Postojece stavke:</h5>
    <br>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sifra stavke</th>
          <th scope="col">Opis</th>
          <th scope="col">EAN</th>
          <th scope="col">Kolicina</th>
          <th scope="col">Proizvod</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of invoiceItemsForUpdate">
            <td>{{ s.id.sifraStavke }}</td>
            <td>{{ s.opis }}</td>
            <td>{{ s.ean }}</td>
            <td>{{ s.kolicina }}</td>
            <td>{{ s.proizvod.sifraProizvoda }}</td>
        </tr>
      </tbody>
    </table>

    <br>

    <div>
        <button type="submit" class="btn btn-success">Potvrdi izmenu</button>
    </div>

</form>

<br>
<br>

<button [routerLink]="['/']" class="btn btn-primary">Vrati se na pocetu stranu</button>
