<form [formGroup]="invoiceFormGroupUpdate" (ngSubmit)="onSubmit()">

    <!-- Kreiranje forme za izmenu fakture -->
    <div formGroupName="invoice" class="form-area">
        <h3>Izmena postojece fakture</h3>
        <br>
        
        <div class="row">
            <div class="col-md-2"><label>Sifra fakture</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="sifraFakture" type="text" readonly="true"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Datum prometa</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="datumPrometa" type="date">
                    <!-- validacija -->
                    <div *ngIf="datumPrometa?.invalid && (datumPrometa?.dirty  || datumPrometa?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="datumPrometa?.errors?.required">
                            Polje datum prometa je obavezno polje.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Valuta</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="valuta">
                        <option *ngFor="let c of currency" [ngValue]="c">
                            {{c}}
                        </option>
                    </select>
                    <!-- validacija -->
                    <div *ngIf="valuta?.invalid && (valuta?.dirty  || valuta?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="valuta?.errors?.required">
                            Polje valuta je obavezno polje.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Nacin placanja</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="nacinPlacanja">
                        <option selected hidden [value]="invoiceForUpdate.nacinPlacanja" > {{invoiceForUpdate.nacinPlacanja.npID}} | {{invoiceForUpdate.nacinPlacanja.nacinPlacanja}}</option>
                        <option *ngFor="let np of paymentMethods" [ngValue]="np">
                            {{np.npID}} | {{np.nacinPlacanja}}
                        </option>
                    </select>
                    <!-- validacija -->
                    <div *ngIf="nacinPlacanja?.invalid && (nacinPlacanja?.dirty  || nacinPlacanja?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="nacinPlacanja?.errors?.required">
                            Polje nacin placanja je obavezno polje.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Nacin isporuke</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="nacinIsporuke">
                        <option selected hidden [value]="invoiceForUpdate.nacinIsporuke" > {{invoiceForUpdate.nacinIsporuke.niID}} | {{invoiceForUpdate.nacinIsporuke.nacinIsporuke}}</option>
                        <option *ngFor="let ni of deliveryMethods" [ngValue]="ni">
                            {{ni.niID}} | {{ni.nacinIsporuke}}
                        </option>
                    </select>
                    <!-- validacija -->
                    <div *ngIf="nacinIsporuke?.invalid && (nacinIsporuke?.dirty  || nacinIsporuke?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="nacinIsporuke?.errors?.required">
                            Polje nacin isporuke je obavezno polje.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Grad</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="grad" (change)="getStreets()">
                        <option selected hidden [value]="invoiceForUpdate.adresa.ulica.grad" > {{invoiceForUpdate.adresa.ulica.grad.postanski_broj}} | {{invoiceForUpdate.adresa.ulica.grad.naziv_grada}}</option>
                        <!-- [ngValue] cuvamo referencu na city objekat -->
                        <option *ngFor="let city of cities" [ngValue]="city">
                            {{city.postanski_broj}} | {{city.naziv_grada}}
                        </option>
                    </select>
                     <!-- validacija -->
                     <div *ngIf="grad?.invalid && (grad?.dirty  || grad?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="grad?.errors?.required">
                            Polje grad je obavezno polje.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Ulica</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="ulica" (change)="getAdress()">
                        <option selected hidden [value]="invoiceForUpdate.adresa.ulica" > {{invoiceForUpdate.adresa.ulica.id.sifra_ulice}} | {{invoiceForUpdate.adresa.ulica.naziv_ulice}}</option>
                        <!-- [ngValue] cuvamo referencu na street objekat -->
                        <option *ngFor="let street of streets" [ngValue]="street">
                            {{street.id.sifra_ulice}} | {{street.naziv_ulice}}
                        </option>
                    </select>
                     <!-- validacija -->
                     <div *ngIf="ulica?.invalid && (ulica?.dirty  || ulica?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="ulica?.errors?.required">
                            Polje ulica je obavezno polje i popunjava se nakon popunjavanja polja grad.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Adresa</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="adresa">
                        <option selected hidden [value]="invoiceForUpdate.adresa" > {{invoiceForUpdate.adresa.id.adresa_ID}}</option>
                        <option *ngFor="let adr of adress" [ngValue]="adr">
                            {{adr.id.adresa_ID}}
                        </option>
                    </select>
                    <!-- validacija -->
                    <div *ngIf="adresa?.invalid && (adresa?.dirty  || adresa?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="adresa?.errors?.required">
                            Polje adresa je obavezno polje i popunjava se nakon popunjavanja polja ulica.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Zaposleni</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="zaposleni">
                        <option selected hidden [value]="invoiceForUpdate.zaposleni" > {{invoiceForUpdate.zaposleni.jmbg}} | {{invoiceForUpdate.zaposleni.ime_prezime}}</option>
                        <option *ngFor="let employee of employees" [ngValue]="employee">
                            {{employee.jmbg}} | {{employee.ime_prezime}}
                        </option>
                    </select>
                    <!-- validacija -->
                    <div *ngIf="zaposleni?.invalid && (zaposleni?.dirty  || zaposleni?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="zaposleni?.errors?.required">
                            Polje zaposleni je obavezno polje.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- kraj forme za izmenu fakture -->
    <br>
    <!-- forma za izmenu stavke fakture -->

    <div formGroupName="inoviceItem" class="form-area">
        <h3>Izmena i unos stavki fakture</h3>
        <br>
        
        <div class="row">
            <div class="col-md-2"><label>Broj stavke</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="sifraStavke" type="text"/>
                    <!-- validacija -->
                    <div *ngIf="sifraStavke?.invalid && (sifraStavke?.dirty  || sifraStavke?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="sifraStavke?.errors?.required || sifraStavke?.errors?.whiteSpace">
                            Polje broj stavke je obavezno polje!
                        </div>
                        <div *ngIf="sifraStavke?.errors?.minlength">
                            Polje broj stavke mora imati minimalno 2 karaktera.
                        </div>
                        <div *ngIf="sifraStavke?.errors?.maxlength">
                            Polje broj stavke ne sme imati vise od 6 karaktera.
                        </div>
                        <div *ngIf="sifraStavke?.errors?.pattern">
                            Polje broj stavke sme da zadrzi samo brojeve.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Opis </label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="opis" type="text"/>
                    <!-- validacija -->
                    <div *ngIf="opis?.invalid && (opis?.dirty  || opis?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="opis?.errors?.required || opis?.errors?.whiteSpace">
                            Polje opis je obavezno polje!
                        </div>
                        <div *ngIf="opis?.errors?.minlength">
                            Polje opis mora imati minimalno 2 karaktera!
                        </div>
                        <div *ngIf="opis?.errors?.maxlength">
                            Polje opis ne sme imati vise od 40 karaktera!
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>EAN </label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="ean" type="text"/>
                    <!-- validacija -->
                    <div *ngIf="ean?.invalid && (ean?.dirty  || ean?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="ean?.errors?.required || ean?.errors?.whiteSpace">
                            Polje ean je obavezno polje!
                        </div>
                        <div *ngIf="ean?.errors?.pattern">
                            Polje ean mora imati tacno 13 karaktera! I da sadrzi samo brojeve, ne slova.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Proizvod</label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <select formControlName ="proizvod">
                        <option *ngFor="let product of products" [ngValue]="product">
                            {{product.sifraProizvoda}} | {{product.nazivProizvoda}}
                        </option>
                    </select>
                    <!-- validacija -->
                    <div *ngIf="proizvod?.invalid && (proizvod?.dirty  || proizvod?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="proizvod?.errors?.required">
                            Polje proizvod je obavezno polje.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Kolicina </label></div>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName ="kolicina" type="text"/>
                    <!-- validacija -->
                    <div *ngIf="kolicina?.invalid && (kolicina?.dirty  || kolicina?.touched)" class="alert alert-danger mt1">
                        <div *ngIf="kolicina?.errors?.required || kolicina?.errors?.whiteSpace">
                            Polje kolicina je obavezno polje!
                        </div>
                        <div *ngIf="kolicina?.errors?.minlength">
                            Polje kolicina mora imati minimalno 1 karakter!
                        </div>
                        <div *ngIf="kolicina?.errors?.maxlength">
                            Polje kolicina ne sme imati vise od 4 karaktera!
                        </div>
                        <div *ngIf="kolicina?.errors?.pattern">
                            Polje kolicina sme da zadrzi samo brojeve.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div>
            <button type="button" class="btn btn-primary" (click)="onSubmitAddNewItem()">Unesi novu stavku</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </div>

       <br>

       <div>
        <button type="button" class="btn btn-primary" (click)="onSubmitUpdateItem()">Izmeni postojecu stavku</button>
       </div>

       <br>

       <div>
        <button type="button" class="btn btn-primary" (click)="onSubmitDeleteItem()">Obrisi stavku</button>
       </div>

    </div> 

    <!-- kraj forme za izmenu/unos stavke fakture -->   

    <br>

    <h5>Postojece stavke:</h5>
    <br>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sifra stavke</th>
          <th scope="col">Opis</th>
          <th scope="col">EAN</th>
          <th scope="col">Kolicina</th>
          <th scope="col">Proizvod</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of invoiceItemsForUpdate">
            <td>{{ s.id.sifraStavke }}</td>
            <td>{{ s.opis }}</td>
            <td>{{ s.ean }}</td>
            <td>{{ s.kolicina }}</td>
            <td>{{ s.proizvod.sifraProizvoda }}</td>
        </tr>
        <tr *ngFor="let st of stavke">
            <td>{{ st.sifraStavke }}</td>
            <td>{{ st.opis }}</td>
            <td>{{ st.ean }}</td>
            <td>{{ st.kolicina }}</td>
            <td>{{ st.sifraProizvoda }}</td>
        </tr>
      </tbody>
    </table>

    <br>

    <div>
        <button type="submit" class="btn btn-success">Potvrdi izmenu</button>
    </div>

</form>

<br>
<br>

<button [routerLink]="['/']" class="btn btn-primary">Vrati se na pocetu stranu</button>
